# Use root/example as user/password credentials

services:
  frontend:
    image: node:20.10-alpine
    working_dir: /frontend
    volumes:
      - ./frontend:/frontend
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    command: npm run start
    depends_on:
      - backend
  backend:
    image: node:20.10-alpine
    working_dir: /backend
    volumes:
      - ./backend:/backend
    ports:
      - "3000:3000"
    environment:
      - HTTP_PORT=3000
      - MONGO_URL=mongodb://root:example@mongo:27017/
      - SESSION_SECRET=7f4a8d3e1c9b2a5f6e8c0d7b3a9f1e5c2d8b4a7f0e9c6d5b8a3f1e7c4a9d2b6f8e
    command: npm run start:dev
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH: false
