#root {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5%;
  background-color: #f5f6fa;
  font-size: 2vh;
}

.container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.container-header {
  height: 10%;
  margin-top: 5%;
}

.col-logo {
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #079aa2;
  border-radius: 1vh;
}

.col-logo a {
  width: 25%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: white;
}

.col-logo img {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
}

.col-nav {
  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 1vh;
}

.container-nav {
  width: 20%;
  height: 50%;
  background-color: white;
  border-radius: 1vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-nav ul {
  padding: 0;
}

.container-nav .row {
  list-style-type: ">  ";
  color: #adb6bd;
  margin-bottom: 10%;
}

.container-nav .row:hover {
  background-color: #079aa2;
}

.container-nav a {
  text-decoration: none;
  color: #adb6bd;
}

.container-nav .row:hover a {
  color: white;
}
