#root {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5%;
  background-color: #f5f6fa;
  color: black;
  font-size: 1vw;
}

.container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.container-header {
  height: 10vh;
  margin-top: 5%;
  margin-bottom: 7.5%;
}

.col-logo {
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #079aa2;
  border-radius: 1vw;
}

.col-logo a {
  width: 25%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: white;
}

.col-logo img {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
}

.col-nav {
  display: flex;
  justify-content: flex-end;

  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 1vw;
}

.container-nav {
  width: 20%;
  height: 50%;
  background-color: white;
  border-radius: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-nav ul {
  padding: 0;
}

.container-nav .row {
  list-style-type: ">  ";
  color: #adb6bd;
  margin-bottom: 10%;
}

.container-nav .row:hover {
  background-color: #079aa2;
}

.container-nav a {
  text-decoration: none;
  color: #adb6bd;
}

.container-nav .row:hover a {
  color: white;
}

.container-main {
  width: 70%;

  display: flex;
  flex-direction: column;
}

.hotel-create {
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.hotel-create-form {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  margin: 1vh;
}

.form-group {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.form-group input {
  font-size: 1vw;

  background-color: white;
  color: black;
  box-sizing: border-box;
  border-width: 0.1vw;
  padding: 0.1vw;
  margin: 0.1vw;
}

.form-group textarea {
  min-width: 100%;
  min-height: 15vh;
  max-width: 100%;
  max-height: 15vh;
  border-width: 0.1vw;
  padding: 0.1vw;
  margin: 0.1vw;
  font-size: 1vw;

  resize: none;
  background-color: white;
  color: black;
  box-sizing: border-box;
}

.form-actions {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  column-gap: 2.5%;
  background-color: white;
  padding: 2vh;
  border-radius: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.btn {
  background-color: #adb6bd;
  border-radius: 0.1vw;
}

.hotels-list,
.rooms-list {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

.btn-room-image {
  text-align: center;
  width: 15vw;
  height: 15vw;
  border-radius: 1vw;
  background-color: #eeeeee;
  color: #adb6bd;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
}

.hotel-card,
.room-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  border-radius: 1vw;
  gap: 2vh;
  padding: 2vh;
  box-sizing: border-box;
}

.hotel-card-description,
.room-card-description {
  display: flex;
  flex-direction: column;
}

.hotel-card-description,
.room-card-description p {
  color: #adb6bd;
}

.hotel-card-description button {
  background-color: cornflowerblue;
  border-radius: 1vw;
}
.room-image {
  position: relative;
}

.room-image img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1vw;
}

.pagination-btn {
  background-color: white;
  color: cornflowerblue;
  border-radius: 0;
}

.pagination-btn.active {
  background-color: cornflowerblue;
  color: white;
}

.container-main-title,
.container-description,
.hotel-create-form {
  background-color: white;
  margin: 0;
  padding: 2vw;
  margin-bottom: 5%;
  margin-top: 2.5%;
  border-radius: 1vw;
  box-sizing: border-box;
}

.hotel-create-card {
  background-color: white;
  margin: 0;
  padding: 2vw;
  border-radius: 1vw;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #e1855e;
}

.btn-secondary {
  background-color: #e25d5e;
}

.form-group-in-out {
  display: flex;
  flex-direction: row;
}

.form-group-in-out input {
  width: 25%;
}

.hotel-catalog-search-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 2vh;
}

.hotel-catalog-search-card h1 {
  margin: 0;
}

.hotel-catalog-search-card form {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  width: 100%;
}

.rooms-grid {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.images-grid {
  cursor: pointer;
}

.room-image-btns {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;

  display: flex;
  column-gap: 0.5vw;
}

.btn-edit {
  width: 2vw;
  height: 2vw;
  padding: 0;
  border-radius: 0.5vw;
  background-color: #eeeeee;
  color: #adb6bd;
}

.btn-remove {
  font-size: 2vw;
  line-height: 0;
}

.avatar-btn {
  width: 2.5vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #079aa2;
  border-radius: 50%;
  border: 1%;
}

.avatar-btn img {
  width: 2.5vw;
  height: 8vh;

  object-fit: contain;
  cursor: pointer;
}

.auth-menu {
  position: absolute;
  top: 27%;
  background-color: white;
  border-radius: 0.5vw;
  padding: 1vw;
}

.auth-menu li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  color: #adb6bd;
  margin-bottom: 10%;
}

.auth-menu li:hover {
  background-color: #079aa2;
}
