#root {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5%;
  background-color: #f5f6fa;
  color: #adb6bd;
  font-size: 1vw;
}

.container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.container-header {
  height: 10vh;
  margin-top: 5%;
  margin-bottom: 5%;
}

.col-logo {
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #079aa2;
  border-radius: 1vh;
}

.col-logo a {
  width: 25%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: white;
}

.col-logo img {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
}

.col-nav {
  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 1vh;
}

.container-nav {
  width: 20%;
  height: 50%;
  background-color: white;
  border-radius: 1vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-nav ul {
  padding: 0;
}

.container-nav .row {
  list-style-type: ">  ";
  margin-bottom: 10%;
}

.container-nav .row:hover {
  background-color: #079aa2;
}

.container-nav a {
  text-decoration: none;
  color: #adb6bd;
}

.container-nav .row:hover a {
  color: white;
}

.container-main {
  width: 70%;

  display: flex;
  flex-direction: column;
}

.hotel-create {
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.hotel-create-form {
  height: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  margin: 1vh;
}

.form-group {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.form-group input {
  font-size: 1vw;

  background-color: white;
  color: #adb6bd;
  box-sizing: border-box;
  border-width: 0.1vw;
  padding: 0.1vw;
  margin: 0.1vw;
}

.form-group textarea {
  min-width: 100%;
  min-height: 15vh;
  max-width: 100%;
  max-height: 15vh;
  border-width: 0.1vw;
  padding: 0.1vw;
  margin: 0.1vw;
  font-size: 1vw;

  resize: none;
  background-color: white;
  color: #adb6bd;
  box-sizing: border-box;
}

.form-actions {
  box-sizing: border-box;
}

.btn {
  background-color: #adb6bd;
  border-radius: 0.1vw;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

.hotel-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  border-radius: 1vh;
  gap: 2vh;
  padding: 2vh;
}

.hotel-card-description {
  display: flex;
  flex-direction: column;
}

.hotel-card-description button {
  background-color: cornflowerblue;
  border-radius: 1vh;
}

.room-image img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1vh;
}

.pagination-btn {
  background-color: white;
  color: cornflowerblue;
  border-radius: 0;
}

.pagination-btn.active {
  background-color: cornflowerblue;
  color: white;
}